<a href="/details/<%=message.id%>" class="messagePaper" data-date="<%=message.createdTime%>" data-id="<%=message.id%>">
    <div class="paperContent">
        <p><%=message.messageText%></p>
    </div>
</a>
