<a href="/details/<%=message.id%>" class="messagePaper" data-date="<%=message.created_time%>" data-id="<%=message.id%>">
    <div class="paperContent">
        <p><%=message.message_text%></p>
    </div>
</a>
