<% if (!message) { throw new Error('message is undefined in include'); } else { %> <% console.log("Message details
received:", message) %>
<div class="msgDetails" data-id="<%=message.id%>">
    <p class="detailsTitle">Author</p>
    <p class="detailsContent"><%=message.user_name%></p>
    <p class="detailsTitle">Content</p>
    <p class="detailsContent"><%=message.message_text%></p>
    <p class="detailsTitle">Created at</p>
    <p class="detailsContent"><%=message.created_time%></p>
</div>

<%}%>
