<div class="msgDetails">
    <p class="detailsTitle">Author</p>
    <p class="detailsContent"><%=message.userName%></p>
    <p class="detailsTitle">Content</p>
    <p class="detailsContent"><%=message.messageText%></p>
    <p class="detailsTitle">Created at</p>
    <p class="detailsContent"><%=message.createdTime%></p>
</div>
