<!DOCTYPE html>
<html lang="en">
    <%- include('./components/head.ejs')%>
    <body>
        <div class="bodyContentWrapper">
            <h1 class="pageTitle">MESSAGE DETAILS</h1>
            <div class="msgDetailsWrapper"><%- include('./components/messageDetails.ejs')%></div>
            <button type="button" class="goBackBtn">Go back to Home</button>
        </div>
    </body>
    <script>
        const goBackBtn = document.querySelector('.goBackBtn[type="button"]');

        goBackBtn.addEventListener('click', () => {
            window.location.href = '/';
        });
    </script>
</html>
